header, footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 35px;
    text-align: center;
    padding-top: 15px;

    /* header, footer position */
    position: fixed;
    left: 0px;
    z-index: 1;
}

header {
    top: 0px;
    border-bottom: 4px solid gray;
}

#logo {
    height: 25px;
}

main {
    text-align: justify;
    padding: 0 20px;
    overflow-y: scroll;
    background-image: url("../images/background.jpg");

    /* main position */
    position: fixed;
    top: 55px;
    bottom: 55px;
    z-index: 0;
}

.sidebar, article {
    margin-top: 15px;
}

.sidebar {
    width: 120px;
    float: left;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    padding: 0 15px;
    padding-bottom: 10px;
    z-index: 1;

    /* sidebar position */
    position: fixed;
}

@media screen and (max-width: 480px) {
    .sidebar {
        margin-top: 10px;
        height: 125px;
        width: 85%;
        padding: 10px;
        box-sizing: border-box;
    }

    .sidebar button {
        width: 18% !important;
    }

    .content {
        margin-top: 150px !important;
        margin-left: 0px !important;
    }
}

.sidebar button {
    border: 2px outset black;
    margin-bottom: 5px;
    background-color: whitesmoke;
    color: black;
    padding: 3px 0;
    width: 100%;
    text-align: left;
    text-indent: 10px;
}

.sidebar button:hover {
    color: darkslategray;
    background-color: floralwhite;
    width: 130px;
    transition: 0.2s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidebar button:active {
    border: 2px inset black;
    transform: translateY(1px);
}

@media screen and (min-width: 480px) {
    #mario {
        width: 120px;
    }
}

@media screen and (max-width: 480px) {
    #mario {
        display: none;
    }
}

.content {
    margin-left: 170px;
}

article {
    padding: 0 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    opacity: 0.75;

    /* article border */
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article:hover {
    opacity: 1.0;
}

h2 {
    /* h2 gradient */
    background: lightgreen;
    background: -webkit-linear-gradient(left, lightgreen, whitesmoke);
    background: -o-linear-gradient(left, lightgreen, whitesmoke);
    background: -moz-linear-gradient(left, lightgreen, whitesmoke);
    background: linear-gradient(to right, lightgreen, whitesmoke);
    /* h2 other */
    padding: 5px;
    border-left: 10px solid darkgreen;
    padding-left: 10px;
    /* text-shadow */
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

article img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.5s;
}

.dropdown-content img {
    width: 200px;
    margin: 0 0 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Comic Sans MS';
}

.article {
    text-indent: 50px;
    margin-bottom: 10px;
}

footer {
    bottom: 0px;
    border-top: 4px solid gray;
}

/* table */
table {
    width: 100%;
    margin-top: 20px;
}

tr th {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

tr td {
    padding: 10px 10px 0px 10px;
}

th {
    border: 1px solid gray;
}

td {
    border: 1px solid silver;
}

td:first-child, td:nth-child(2), td:last-child {
    width: 150px;
    text-align: center;
}

tr:nth-child(2n+1) {
    background-color: antiquewhite;
}

tr:hover {
    background-color: navajowhite;
}